<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- linkタグでbootstrapのcssファイルを読み込む -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    />
    <!-- linkタグでDataTableのcssファイルを読み込む -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"
    />
    <!-- タイトル -->
    <title>Tutorial</title>
  </head>
  <body>
    {% block content %}
    <!-- block content～endblockの間に子テンプレートの内容が差し込まれる -->
    {% endblock %}
    <!-- bootstrapのjavascript読み込み -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <!-- DataTablesのjavascript読み込み -->
    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <!-- DataTableの定義 -->
    <script>
      jQuery(function ($) {
        // デフォルトの設定を変更
        $.extend($.fn.dataTable.defaults, {
          language: {
            url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json",
          },
        });
        $("#kakeibo_list")
          .DataTable({
            searching: true, //検索機能
            paging: true, //ページング
            ordering: true, //ソート
            lengthChange: true, //件数切り替え
          })
          .columns.adjust()
          .draw();
      });
    </script>
  </body>
</html>
